# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# PyInstaller
*.spec

# Misc
.DS_Store
node_modules/
frontend/node_modules/
frontend/dist/
