QWidget {
    background: #2b2b2b;
    color: #ddd;
    font-size: 12px;
}

QPushButton {
    background: #471F6F;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
}
QPushButton:hover {
    background: #5c2c88;
}
QPushButton:disabled {
    background: #555555;
    color: white;
}

QLineEdit, QComboBox {
    background: #3c3c3c;
    border: 1px solid #555555;
    padding: 2px;
    border-radius: 3px;
}

QToolBar QToolButton:hover {
    background: #444444;
}
